#main11{
    margin:0;
}
article{
    display: flex;
    flex-direction: column;
}
.bg-img11{
    color: white;
    font-size: 3em;
    font-weight: 600;
    line-height: 4rem;
    flex: 1;
    padding:25%;
    background-image: url(../RESOURCES/hair-wash.jpg);
    background-color: rgb(104, 94, 94);
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 7vh;
}
#thanks{
    background-color: rgb(252, 250, 198);
    padding: 5vh;
    display: flex ;
    justify-content: space-between;
    min-height: 7vh;
    gap: 5vh;
    flex-wrap: wrap;
    align-items: center;
}
.thanks-img, .thanks-text{
    flex: 1;

}
.thanks-text p{
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.thanks-text h4{
    font-size: 3rem;
    margin: 0;
    line-height: 4rem;
}

.bg-img-12{
    color: white;
    line-height: 4rem;
    flex: 1;
    background-image: url(../RESOURCES/hair-tools.jpg);
    background-color: rgb(104, 94, 94);
    background-blend-mode: multiply;
    background-size: cover;
}

span{
    font-weight: 600;
}
.contact-info{
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10vh;

}