#main11{
    margin:0;
}
article{
    display: flex;
    flex-direction: column;
}
.bg-img11{
    color: white;
    font-size: 2em;
    font-weight: 600;
    flex: 1;
    padding:25%;
    background-image: url(../RESOURCES/hair-wash.jpg);
    background-color: rgb(104, 94, 94);
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 7vh;
}
.thanks{
    display: flex 1fr 1fr;
    justify-content: space-between;
}