#main1{
    margin:0;
}
/*1st image*/
article{
    display: flex;
    flex-direction: column;
}
.bg-img1{
    flex: 1;
    padding: 30%;
    background-image: url(../RESOURCES/color-hair1.jpg);
    background-color: rgb(156, 148, 148);
    background-blend-mode: multiply;
    background-size: cover;
}
.bg-img1 p{
    color: white;
    font-size: 3em;
    font-weight: 600;
    line-height: 4rem;
}
.sec-bg-img1{
    animation: fadeIn 2s; /* Fade in over a duration of 2 seconds */
    animation-fill-mode: forwards; /* Keep the image at its final state after the animation */
    
}


/*2nd image*/
.bg-img2{
    color: white;
    background-image: url(../RESOURCES/hair-samples.jpg);
    background-color: rgb(87, 86, 86);
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15%;
    font-size: 1.2em;
}
.hair-list{
  max-width: 29vh;
}


  /*ANIMATIONS*/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
