body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}