
body{
    background-color: rgb(252, 250, 198);
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
    margin: 0;
}
header{
    background-color: rgb(252, 250, 198);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.article1{
    border-radius: 3%;
    background-image: url(../RESOURCES/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: show-up-animation 0.7s ease-out;
    
}
.article-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.book-btn{
    background-color: black;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    margin-right: 10%;
}
.book-btn a {
    color: white;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}


main{
    display: flex 1fr 3fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 9rem;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6 em;
    height: 3em;
}

nav ul {
    display: flex;
    padding-inline-start:0px;
    list-style: none;
    text-align: center;
    gap: 2rem;
    margin: 0;
    background-color: lightcoral;
}

nav li {
    flex: 1;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section {
    display: flex;
    
}
article {
    flex: 1;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 88, 88, 0.925);
}
.tutorial-img{
    width: 20rem;
    height: auto;
    margin-bottom: 0;
}
.services-img{
    width: 20rem;
    height: auto;
    margin-bottom: 0;
}
.footer-img{
    flex: 1;
    width: 15rem;
    height: auto;
    margin-bottom: 0;
}
footer div {
    flex: 1;
}
nav ul li:hover{
    background-color: rgba(150, 37, 37, 0.795);
}
li a:hover{
    color: white;
}

li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img{
    width: 50vw;
    height: auto;
}
.header-img{
    display: flex;
    align-items: center ;
    justify-content: center;
}
@keyframes show-up-animation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
