
body{
    background-color: rgb(255, 254, 198);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.article1{
    background-color: palevioletred;
    
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6 em;
    height: 3em;
}

nav ul {
    display: flex;
    padding-inline-start:0px;
    list-style: none;
    text-align: center;
    gap: 2rem;
    background-color: lightcoral;
}

nav li {
    flex: 1;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section {
    display: flex;
}
article {
    flex: 1;
}
footer {
    display: flex;
    background-color: rgb(57, 62, 66);
}
.footer-img{
    width: auto;
    height: 6rem;
    margin-bottom: 0;
}
footer div {
    flex: 1;
}
nav ul li:hover{
    background-color: rgba(150, 37, 37, 0.795);
}
li a:hover{
    color: white;
}

li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img{
    width: 50vw;
    height: auto;
}
.header-img{
    display: flex;
    align-items: center ;
    justify-content: center;
}
@keyframes show-up-animation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.slide-p{
    animation: show-up-animation 1.5s ease-out;
}